In [45]:
import os 
from datetime import datetime, timedelta
import pandas as pd
from bs4 import BeautifulSoup
import sqlite3
import requests

In [46]:
os.getcwd()

'/Users/lisamarx/Desktop/Studium/DataMining/Data_Mining_Master/Code'

In [47]:
STORAGE_PATH = os.path.join('..', 'input')
SQL_PATH = os.path.join('..', 'dwh.sqlite3')

In [48]:
connection = sqlite3.connect(SQL_PATH)

In [49]:
data_path = os.path.join(STORAGE_PATH, "inputdata.xls")
#g_path = os.path.join(STORAGE_PATH, "G_Anreise.xls")
#l_path = os.path.join(STORAGE_PATH, "L_Anreise.xls")
#r_path = os.path.join(STORAGE_PATH, "R_Anreise.xls")
#a_path = os.path.join(STORAGE_PATH, "a_reservations.xls")

In [50]:
data_file = pd.read_excel(data_path)
data_file.head()

,Plattform,ID,Status,Name,Kontakt,Erwachsene,Kinder,Kleinkinder,Anreise,Abreise,...,Lage,Ausstattung,Komfort,Preis-Leistungs-Verhaeltnis,Zimmerausstattung,WLAN,Betten,Text,Unnamed: 26,Unnamed: 27
0,AirBnB,HMFKXZ4SKC,Ok,Ebubekir Aƒüƒ±rba≈ü,NaN,5.0,0.0,0.0,2018-03-10,2018-03-11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirBnB,HMSDDSH9AQ,Ok,Manfred Josef Jansky,NaN,2.0,2.0,0.0,2018-03-15,2018-03-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AirBnB,HMA35R24QF,Ok,Jared Jankowsky,NaN,3.0,2.0,0.0,2018-03-24,2018-03-25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AirBnB,HMRC5SB2BF,Ok,Vinod Mullasseril,NaN,4.0,2.0,0.0,2018-03-26,2018-03-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AirBnB,HMSEEW523B,Ok,Ë∞¶ Â∑¶,NaN,5.0,0.0,0.0,2018-03-27,2018-03-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
#Löschen der Tabelle
connection.cursor().execute("DROP TABLE IF EXISTS wohnungen;")

In [54]:
data_file.to_sql("wohnungen", connection, index=False, if_exists="append")

1961